.footer{
    padding: 200px 0 100px 0;
    &__container{
        margin: 0 auto;
        max-width: 1296px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__main-title{
        color: #FFF;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 30px;
    }

    &__main-subtitle{
        width: 411px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 60px;
        opacity: 0.5;
    }

    &__form{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #f-email::placeholder{
        color:rgb(255, 72, 0);
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
        opacity: 1;
    }

    &__media-list{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__media{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: linear-gradient(94deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        border-radius: 50px;
        cursor: pointer;
        animation: button 1s infinite;
    }

    @keyframes button {
        0%{
            transition: 0.5s;
            box-shadow: 0.3em 0.3em 1em rgba(98, 1, 255, 0.979);
        }
        20%{
            transition: 0.5s;
            box-shadow: 0.3em 0.3em 1em rgb(196, 1, 255);
        }
        40%{
            transition: 0.5s;
            box-shadow: 0.3em 0.3em 1em rgb(98, 1, 255);
        }
        60%{
            transition: 0.5s;
            box-shadow: 0.3em 0.3em 1em rgb(196, 1, 255);
        }
        100%{
            transition: 0.5s;
            box-shadow: 0.3em 0.3em 1em rgb(98, 1, 255);
        }

    }

    &__media--vk::before{
        content: url("/img/vkVK.svg");

    }

    &__media--yout::before{
        content: url("/img/youtube.svg");
    }

    &__media--faceb::before{
        content: url("/img/facebook.svg");
    }

    &__media--inst::before{
        content: url("/img/instagram.svg");
    }


}

.wrapper{
    margin-bottom: 40px;
}

#f-submit{
    display: inline-flex;
    padding: 10px 30px;
    height: 47.5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    position: absolute;
    left: 60%;
    cursor: pointer;
    z-index: 99;
}

#f-submit:hover{
    animation: button-1 3s infinite;
}

#f-email{
    width: 353px;
    height: 44px;
    border-radius: 50px 0px 0px 50px;
    opacity: 0.25;
    background: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 98;
}

input[type=email]{
    padding-left: 30px;
    color: white;
    font-size: larger;
}


@keyframes  button-1 {
    0%{
        transition: 0.5s;
        box-shadow: 0.3em 0.3em 1em #DF5950;
        background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
    }
    20%{
        transition: 0.5s;
        box-shadow: 0.3em 0.3em 1em rgb(1, 183, 255);
        background: linear-gradient(95deg, #505edf 11.19%, #511985 93.72%);
    }
    40%{
        transition: 0.5s;
        box-shadow: 0.3em 0.3em 1em #DF5950;
        background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
    }
    60%{
        transition: 0.5s;
        box-shadow: 0.3em 0.3em 1em rgb(1, 183, 255);
        background: linear-gradient(95deg, #505edf 11.19%, #511985 93.72%);
    }
    100%{
        transition: 0.5s;
        box-shadow: 0.3em 0.3em 1em #DF5950;
        background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
    }


    

}